{% extends "app/logged_in_base.html" %}
{% load i18n %}
{% load settings %}

{% block content %}
	{% load render_bundle from webpack_loader %}
	{% render_bundle 'Dashboard' attrs='async' %}

	{% if no_processingnodes %}

		<h3>{% 'Willkommen!' %} ☺</h3>
		{% 'Momentan ist kein Server vorhanden, wende dich an den Betreiber' %}
		{% endwith %}
	{% else %}
		
		{% if no_tasks %}
			<h3>{% 'Willkommen!' %} ☺</h3>
			{% 'Um ein neues Projekt zu starten, lade deine Bilder hoch!' }
	
			<p>
				<ul>
					<li>{% trans 'Für die größe eines Einfamilienhauses benötigst du ca. 60 - 80 Fotos. Wobei je mehr Fotos, desto besser wird das Ergebnis!' %}</li>
					<li>{% trans 'Bilder müssen sich um 65% oder mehr überlappen. Zielen Sie auf 70-72% Überdeckung' %}</li>
					<li>{% trans 'Mehr Bilder bedeuten in der Regel bessere Ergebnisse – das ist eine einfache Formel.' %}</li>
					<li></li>
					<li>{% trans 'Projekte, die nicht funktionieren, haben oft zwei Ursachen: zu wenige Bilder oder falsche GPS-Daten - dies passiert oftmals, wenn die ersten Fotos ohne GPS-Daten sind.' %}</li>
					<li>{% trans 'Falsche oder fehlende GPS-Daten erkennst du meistens dran, wenn statt einem Straßennamen nur ein Aufgabenname angezeigt wird, versuche das Projekt ohne die ersten beiden Aufnahmen zu starten.' %}</li>
					<li>{% trans 'Sollten Fragen oder Probleme auftreten, stehe ich gerne zur Verfügung.' %}</li>
					

				</ul>
			</p>
		{% endif %}

		<div id="dashboard-app" data-dashboard></div>

	{% endif %}
{% endblock %}
